mix_dataset

# 不保存的文件类型
*.log
*.tmp
*.cache
*.bak
*.swp
*.aux
*.out
*.toc
*.gz
*.zip
*.tar
*.rar
*.7z
*.exe
*.csv
*.json
*.wav
*.pyc
*.npy
*.txt
audio/test.py
*.pkl
*.jpg
*.jpeg
*.png
*.arrow
*.pickle
mix_dataset_10k
evaluation
mix_dataset_eval
mix_dataset
artifacts
outputs
tests
